<% layout('layout') -%>

<div id="container">
    <form action="/event/new" method="post" data-mini="true">
        <div data-role="fieldcontain">
            <label>Event name:</label>
            <input type="text" name="name"  id="name"/>
        </div>
        <div data-role="fieldcontain">
            <label>Date:</label>
            <input type="date" name="date"  id="date"/>
        </div>
        <div data-role="fieldcontain">
            <label>Location:</label>
            <input type="text" name="location" id="location"/>
        </div>        
        <div data-role="fieldcontain">
            <label>Start Time:</label>
            <input type="time" name="start_time" id="start_time"/>
        </div>
        <div data-role="fieldcontain">
            <label>End Time:</label>
            <input type="time" name="end_time" id="end_time"/>
        </div>
        <div data-role="fieldcontain">
            <label for="textarea">Description:</label>
            <textarea name="description" id="description"></textarea>
        </div>
            <input type="hidden" name="user_id" value="<%=user._id%>">
        <div>
            <input type="submit" value="Create Event"/>
        </div>
    </form>
</div>