<% layout('layout') -%>
    <script src="/javascripts/event_list.js"></script>
    <div class="container">
        <h1><%= title %></h1>

        <%if(user){%>
        <br>
        <a href= "/event/new" data-role="button" data-inline="true" data-mini="true" data-theme="b">Create an Event</a>
        <br><br>
        <%}%>
        <ul id="event-list" data-role="listview" data-filter="true" data-filter-placeholder="Search events...">

        	<% if(collection==null || collection.size==0) {%>
        		<li>There are currently no active events.</li>
        	<% } %>
            <li>
                Events
            </li>

    	</ul>
    </div>