
<% layout('layout')   -%>
<% 'script(index.js)   -'%>
<% 'stylesheet(index.css)   -'%>

    <img id="index_img" src="/images/holder.jpg" alt="Welcome">

    <a href= "/events" data-role="button" data-inline="true" data-mini="true" data-theme="b">Events</a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/register">Register</a>
    <a href="/users">Users</a>
