<!DOCTYPE html>
<html>
  <head>
  	    <link rel="stylesheet" href="/jquery.mobile-1.3.2/jquery.mobile-1.3.2.css" />
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
        <script src="jquery.mobile-1.3.2/jquery.mobile-1.3.2.min.js"></script>
         <link rel="stylesheet" href="/stylesheets/override.css" />
    <title>Development mode</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div data-role="header">
      <a href="/" data-icon="bars" class="ui-btn-left">Menu</a>
      <h1>Home</h1>

      <%if(user!=null){%>
      <a href="/user/<%=user._id%>" data-icon="star" class="ui-btn-right" data-theme="b"><%=user.username%></a>
      <%} else {%>
        <a href="/login" data-icon="star" class="ui-btn-right" data-theme="b">Log In</a>
      <%}%>
    </div>

    <img id="index_img" src="/images/holder.jpg" alt="Welcome">

    <a href= "/events" data-role="button" data-inline="true" data-mini="true" data-theme="b">Events</a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/register">Register</a>
    <a href="/users">Users</a>
  </body>
</html>