
<% layout('layout')   -%>
<!-- 'script(index.js)'   -->
<!-- 'stylesheet(index.css)'   -->
<div class="container" class="jqm-content">
    <img id="index_img" src="/images/banner.png" alt="Welcome">

    <p>
    <h2>Welcome to The Carpool Express App</h2>
    This application is designed to help you coordinate carpools and rides for groups of people traveling to and from an event.
    <br>
    To get started, you can create an account or view some current events using the links below:
    </p>

    <div class="index-button"><a href= "/events" data-role="button" data-theme="b">View Events</a></div>
    <br>
    <div class="index-button"><a href= "/register" data-role="button" data-theme="b">Register an Account</a></div>
    <br>
    <div class="index-button"><a href= "/login" data-role="button" data-theme="b">Login</a></div>
</div>