<!DOCTYPE html>
<!--no layout-->
<html>
<head>
    <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/jquery.mobile-1.3.2/jquery.mobile-1.3.2.css" />
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
    });
    </script>
        <script src="/jquery.mobile-1.3.2/jquery.mobile-1.3.2.min.js"></script>
         <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><%= title %></title>
</head>
<body style="text-align:center;">
    <div data-role="header">
      <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      <h1><%=title%></h1>
    </div>
    <div id="container" style="padding-left:5%;padding-right:5%;">
    <form action="/register" method="post" data-mini="true">
        <div data-role="fieldcontain">
            <label>Email:</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div data-role="fieldcontain">
            <label>Password:</label>
            <input type="password" name="password"  id="password"/>
        </div>
        <div data-role="fieldcontain">
            <label>First Name:</label>
            <input type="text" name="first_name" id="first_name"/>
        </div>
        <div data-role="fieldcontain">
            <label>Last Name:</label>
            <input type="text" name="last_name" id="last_name"/>
        </div>
        <div data-role="fieldcontain">
            <label for="textarea">Contact Info:</label>
            <textarea name="contact" id="contact"></textarea>
        </div>
        <div>
            <input type="submit" data-theme="b" value="Register"/>
        </div>
    </form>
    </div>
</body>
<html>