body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.container{
	/**margin: 10px auto 5px;**/
	padding: 15px 5% 4.5em;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
}



/**For the event show page**/
.row-odd{
	background-color: #888888;
}

.row-even{
	background-color: #E8E8E8;
}

.border-block{
	border-style:solid;
}

.tile_words{
	padding-left: 50px;
}

.ride-butt{
	padding-left: 50px;
}

#rider-box{
	/**margin: 10px auto 5px;**/
	padding: 15px 15% 4.5em;
	padding-right: auto;
	padding-left: auto;
}

#load_cars{
	/**margin: 10px auto 5px;**/
	padding: 15px 15% 4.5em;
	padding-right: auto;
	padding-left: auto;
}


#googleMap{
	padding: 3%;
	margin-right: auto;
	margin-left: auto;
}



.container-mobile{
	/**margin: 10px auto 5px;**/
	padding: 15px auto 4.5em;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
}

#event_description_block{
	padding-left: 20%;
	padding-right: 20%;
}

#event_desc_top{
	padding-left: 8%;
	padding-right: 8%;
}


#event_head{
	float: left;
}

#event_des{
	float: right;
}



.ride-tile{
	height: 100%;
	padding-left:10px;
	margin-bottom: 10px;
	margin-top: 10px;
}




/**@media (min-width:60em) {
	/
	.jqm-header h1.jqm-logo {
		margin-left: 15%;
	}
	.jqm-header .jqm-navmenu-link {
		left: 15%;
	}
	.jqm-search,
	.jqm-search-toggle .jqm-search {
		right: 15%;
	}
	
	.jqm-footer .jqm-version {
		margin-right: 15%;
		margin-left: 15%;
	}
	
	.jqm-demos .jqm-content {
		padding-right: 15%;
		padding-left: 15%;
	}
}**/

/* stack all grids below 40em (640px) */
@media all and (max-width: 800px) {
	.ui-grid-d>.ui-block-a,
	.ui-grid-d>.ui-block-b,
	.ui-grid-d>.ui-block-c,
	.ui-grid-d>.ui-block-d,
	.ui-grid-d>.ui-block-e {
		width: 100%;
		float: none;
		margin-left:2px;
		margin-right:2px;
		padding-left:2px;
		padding-right:2px;
	}


	.blank-tile{
		margin-top:3%;
		margin-bottom:3%;
		padding-bottom:8%;
		padding-top:2%;
	}
}